input:active,
input:focus,
select:active,
select:focus,
a:active,
a:focus,
button:active,
button:focus,
.btn:active,
.btn:focus,
.form-control:active,
.form-control:focus,
.form-select:active,
.form-select:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* Loading */
div.loading-insert {
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(16, 16, 16, 0.5);
}

@-webkit-keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.uil-ring-css {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
}

.uil-ring-css > div {
	position: absolute;
	display: block;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	border-radius: 80px;
	box-shadow: 0 6px 0 0 #ffffff;
	-ms-animation: uil-ring-anim 1s linear infinite;
	-moz-animation: uil-ring-anim 1s linear infinite;
	-webkit-animation: uil-ring-anim 1s linear infinite;
	-o-animation: uil-ring-anim 1s linear infinite;
	animation: uil-ring-anim 1s linear infinite;
}

/* Dropify Re-style */
.dropify-message > .file-icon > p {
	font-size: 15px !important;
}

/* DataTables Re-style */
.dataTables_wrapper.dt-bootstrap5.no-footer .row:nth-child(2),
.dataTables_wrapper.dt-bootstrap5.no-footer .row:last-child {
	margin-top: 0.5rem;
}

/* Select2 Re-style */
.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
	box-shadow: unset !important;
}

.select2-container--bootstrap-5 .select2-selection,
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
	display: block;
	width: 100%;
	min-height: calc(1.4285714em + 0.75rem + 4px);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.4285714;
	color: #232e3c;
	background-color: #fff;
	border: 1px solid #dadcde;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select2-container--bootstrap-5 .select2-selection {
	padding: 0.4375rem 2.25rem 0.4375rem 0.75rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dadcde' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	transition: unset !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
	padding: 0.4375rem 0.75rem;
	background-clip: padding-box;
	transition: unset !important;
}

.select2-container--bootstrap-5 .select2-dropdown {
	border-color: #86b7fe;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
	width: 100%;
	padding: 0.5rem 0.75rem;
	clear: both;
	font-weight: 400;
	font-size: 0.875rem;
	min-width: 11rem;
	display: flex;
	align-items: center;
	margin: 0;
	line-height: 1.4285714;
}

.select2-container--bootstrap-5
	.select2-dropdown
	.select2-results__options
	.select2-results__option.select2-results__option--selected,
.select2-container--bootstrap-5
	.select2-dropdown
	.select2-results__options
	.select2-results__option[aria-selected="true"] {
	color: #206bc4;
	background-color: rgba(32, 107, 196, 0.06);
}
